
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=golang_db
DB_HOST=localhost
DB_PORT=5432
# Construct the URL: postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
DATABASE_URL=


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASS=
REDIS_URL=


PORT=8080
APP_ENV=development
ALLOWED_ORIGIN=http://localhost:5173